*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	font-size: 62.5%;
	--pale-blue:hsl(240, 100%, 95%);
}
body{
	font-family: 'Poppins', sans-serif;
	width: 99.2vw;
}
.header{
	background-color: black;
	min-height: 1400px;
	/* width: 99.9vw; */
	position: relative;
	overflow: hidden;
	z-index: -6;
}
.header::after{
	content: '';
	height: 100vh;
	width: 100vh;
	left: 50%;
	bottom: 0;
	background-color: var(--pale-blue);
	border-radius: 50%;
	transform-origin: bottom;
	transform: translateX(-50%) scale(9);
	position: absolute;
	z-index: -5;
}

.nav-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* height: 15vh; */
	border: 3px solid red;
	padding-left: 8%;
	padding-right: 8%;
	margin: auto;
}
.img-logo img{
	width: 25%;
}
.img-logo h2{
	font-size: 6rem;
	
}
.nav-bar-left{
	display: flex;
}
.nav-bar-left .img-logo{
	display: flex;
	align-items: center;
}
.nav-bar-left .menu{
	display: flex;
	align-items: center;
	gap: 18%;
}
.nav-bar-left .menu li,.nav-bar-left .menu a{
	list-style-type: none;
	text-decoration: none;
	color: #000;
	font-size: 2.7rem;
	transition: .25s;
	position: relative;
	padding-bottom: .3rem;

}
.nav-bar-left .menu a::after{
	content: "";
	width: 100%;
	position: absolute;
	height: 4px;
	bottom: 0;
	left: 0;
	background-color: hsl(240, 100%, 65%);
	display: none;
	
}
.nav-bar-left .menu a:hover{
	color:hsl(240, 100%, 65%);
	font-weight: 700;
	
}
.nav-bar-left .menu a:hover::after{
	display: block;
}

.nav-bar-left .menu .fa{
	font-size: 3.5rem;
}
.nav-bar-left .menu .fa:hover{
	color:hsl(240, 100%, 65%);
	cursor: pointer;
}
 .button{
	font-size: 3rem;
	border: 3px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 80px;
	font-weight: 500;
	background-image: url(./ossoft-image/arrow-removebg-preview.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 92% 50%;
	cursor: pointer;
	border-radius: 6rem;
}
.button:hover{
	background-color: hsl(240, 100%, 65%);
	color: hsl(240, 100%, 98%)
}
.header-pair{
	display: flex;
	width: 80%;
	justify-content: space-between;
	margin: auto;
	border: 3px solid blue;
	margin-top: 5%;
}
/* ----------------------------------------------------------- */
.header-pair .left{
	width: 50%;
}
.header-pair .left li{
	font-size: 3.5rem;
	margin-bottom: 3%;
	color:hsl(240, 100%, 65%);
	font-weight: 600;
}
.header-pair .left h1{
	font-size: 9rem;
	font-weight: 600;
}
.header-pair .left h1:nth-of-type(3){
	color:hsl(240, 100%, 65%);
	margin-bottom: 2rem;
	
}
.header-pair .left p{
	font-size: 2.3rem;
	color: 	rgb(49, 52, 70);
	margin-bottom: 6%;
}
.left .button{
	box-shadow: .9rem .9rem 5px rgba(0,0,0,0.8)
}
.header-pair .right{
	border: 2px solid red;
	width: 50%;
	position: relative;
}
.right .parent{
	background-color: hsl(240, 100%, 30%);
	width: 85%;
	height: 70%;
	position: absolute;
	top: 0;
	right: 0;
	padding: 7%;
}
.parent .first-child{
	width: 65%;
	height: 70%;
	border: 3px solid hsl(240, 100%, 90%);
	position: absolute;
	z-index: 3;
	
}
.parent .second-child{
	width: 65%;
	height: 70%;
	background-color: hsl(240, 100%, 65%);
	position: absolute;
	top: 22%;
	left: 22%;
}
.right img{
	width: 85%;
	height: 75%;
	bottom: 0;
	left: 8%;
	position: absolute;
	z-index: 5;
}
/* ----------------------------------------------------- */
.startup-section{
	background-color: #000;
	color: #fff;
	text-align: center;
	line-height: 1.2;
	padding: 5% 2%;
}
.startup-section h2{
	font-size: 6.5rem;
	font-weight: 500;
	margin-bottom: 4rem;
	
}
.startup-section p{
	font-size: 2.5rem;
	color:antiquewhite;
	line-height: 1.6;

}






